@font-face {
  font-family: "arabic";
  src: url("../fonts/arabtype.ttf");
}

#site-nav ul {
margin:40px 0 0 0;
list-style:none;
float:right;
width:390px;

}

li {
float:left;
margin-right:20px;
}

#taste-basket-tab {
background: url('../images/taste-basket-tab.png') no-repeat;
background-position: 0 -30px;
height:29px;
width:135px;
}

#taste-basket-tab:hover {
background: url('../images/taste-basket-tab.png') no-repeat;
height:29px;
width:135px;
}



#home #taste-basket-tab:hover {
background: url('../images/taste-basket-tab.png') no-repeat;
height:29px;
width:135px;

}

#how-it-works-tab {
background: url('../images/how-it-works-tab.png') no-repeat;
background-position: 0 -30px;
height:29px;
width:110px;
}

#how-it-works-tab:hover {
background: url('../images/how-it-works-tab.png') no-repeat;
height:29px;
width:110px;
}

#about-us-tab {
background: url('../images/about-us-tab.png') no-repeat;
background-position: 0 -30px;
height:29px;
width:84px;
}

#about-us-tab:hover {
background: url('../images/about-us-tab.png') no-repeat;
height:29px;
width:84px;
}


#container-top {
background: url('../images/container-top.png') no-repeat;
width:966px;
height:52px;
margin-bottom:0;
z-index:1;
position:relative;
}

#container-middle {
background: url('../images/container-middle.png') repeat-y;
width:906px;
margin:0;
padding:30px;

}

#back-to-home-tab {
background: url('../images/back-to-home-tab.png') no-repeat;
height:29px;
width:128px;
margin:0 auto 0 auto;
}

#back-to-home-tab:hover {
background: url('../images/back-to-home-tab.png') no-repeat;
height:29px;
width:128px;
margin:0 auto 0 auto;
background-position: 0 -30px;
}
