#home #taste-basket-tab {
background: url('../images/taste-basket-tab.png') no-repeat;
height:29px;

}

#box {
height:480px;
width:960px;
margin:0 auto 0 auto;
}

#top-left {
height:480px;
width:360px;
float:left;
text-align:center;
position:relative;
}


#intro-text {
width:360px;
color:black;
font-family:arabic;
font-size:30px;
line-height:30px;
margin:60px auto 0 auto;

}

#learn-more {
height:40px;
margin:20px auto 10px auto;
height:29px;
width:98px;
background: url('../images/learn-more-tab.png') no-repeat;
background-position: 0 -30px;
}

#learn-more:hover {
height:40px;
margin:20px auto 10px auto;
height:29px;
width:98px;
background: url('../images/learn-more-tab.png') no-repeat;

}

#read-more {
color:#6e3e5b;
position:relative;

}

#box .request-invite {
margin-top:30px;

}

/*
.request-invite-big {
background: url('../images/request-invite-button.png');
width:240px;
height:72px;
padding-top:15px;
text-align:center;
margin: 4px 0 0 140px;
float:left;
}

.request-invite-big a{
font-size:45px;
color:transparent;

}
*/





#top-right {
height:317px;
width:538px;
float:left;
position:relative;

}

.food-basket {
margin:20px 0 0 0;
height:390px;
float:right;

}

#box-bottom-half {
height:287px;
width:966px;
background: url('../images/product-pics-background.png') no-repeat;
background-position: 20px 30px;
position:relative;
margin-left:-30px;
margin-top:20px;
}





/*
#home-info p {
font-family:arabic;
font-size: 18pt;
line-height:18pt;
}

#home-info h3 {
font-family:arabic;
font-weight:bold;
font-size: 22pt;
color:#9b0002;
}
*/



#separator {
height:20px;
margin:0;
background:url('../images/separator.png') repeat-x;

}

#bottom-half {
background: #6e3e5b;
margin:0;
padding:40px 0 20px 0;
color:white;

}

#bottom-half h2{

font-family:helvetica-textbook, arial, sans-serif;
font-size:36px;
line-height:60px;
}

#bottom-half h3{

font-family:helvetica-textbook, arial, sans-serif;
font-size:24px;
}

#bottom-half p {
font-family: arial, sans-serif;
font-size:18px;
line-height:30pt;
}

#bottom-half .content {
margin:0 auto 0 auto;
width:960px;
position:relative;
}

#action-box {
width:720px;
height:300px;
margin:90px auto 0 auto;
position:relative;
}

#learn-how-it-works-tab {
background: url('../images/learn-how-it-works-tab.png') no-repeat;
height:29px;
width:145px;
margin:0 auto 0 auto;
}

#learn-how-it-works-tab:hover {
background: url('../images/learn-how-it-works-tab.png') no-repeat;
height:29px;
width:145px;
margin:0 auto 0 auto;
background-position: 0 -30px;
}

#action-box #lower {
height:200px;
width:624px;
margin:30px auto 0 auto;
}

#bottom-half .request-invite {
float:left;
}

#share {
background: url('../images/share-with-friends.png');
width:306px;
height:108px;
float:left;
text-align:center;
position:relative;
margin-left:10px;

}


.addthis_toolbox {
margin:60px auto 10px auto;
width:160px;
}

.fbook {
color:white;

}
.fbook iframe .connect_widget_vertical_center {
overflow:hidden;
visibility:hidden;
width:30px;
}


#footer ul {
margin:0;
}



