#learn-about-us-tab {
background: url('../images/learn-about-us-tab.png') no-repeat;
height:29px;
width:128px;
margin:0 auto 0 auto;
}

#learn-about-us-tab:hover {
background: url('../images/learn-about-us-tab.png') no-repeat;
height:29px;
width:128px;
margin:0 auto 0 auto;
background-position: 0 -30px;
}