<div id="about-us">
<h2>Meet the Team</h2>
<br/>
<div class='sep'>
<h4>Jing Loh</h4>
<%= image_tag 'jing.JPG'%>
<p>I’m a food enthusiast with an awesome obsession. Spending my early years in Kuala Lumpur Malaysia (arguably the best places to eat in the world!), I discovered an appreciation for food that would ultimately lead to a lifelong journey. I currently manage the business development of “Taste Basket” while working on a writing project called Food Trotter, where I and many contributors share our passion for food and travelling. </p>
</div>
<div class='sep'>
<h4>Nancy Huynh</h4>
<%= image_tag 'nancy.JPG'%>
<p>I’m a graduate student studying the geography of food; a food pornographer; a experimental cook; and will eat just about anything.  After completing an undergraduate degree in Commerce, all I wanted to do was make some money and eat some food, but I was absolutely not going to work a desk job.  So I said fuck you corporate world, and went from being a half-assed day trader, to an entrepreneur-grad student.  Reading Pollan, Schlosser, and others, I took a shot in the dark and applied to graduate school to study geography.  In my application I wrote three short stories (paragraphs really) about food, and the rest is history.  My thesis looks at entrepreneurialism in the Vietnamese restaurant landscape in Toronto. There are so many stories that can be told through food – histories of the people, the cuisine, the places.  Food brings people together, food has a life of it’s own, food is my first love.</p>
</div>

<div id='action-box'>
<a href='/'><div id='back-to-home-tab'></div></a>
</div>
</div>
