<div id="pp">
<h2>Privacy Policy</h2>


<h4>Introduction</h4>

<ul>
	<li><p>This policy tells you about how Taste Basket uses and protects your personal information when you use tastebasket.com (the “Site”) and our services. The policy applies to any of our domains or subdomains. You can find a link to the policy at the footer of each website. By accepting the Privacy Policy and the User Agreement, you expressly consent to our collection, storage, use and disclosure of your personal information as described in this policy.</p></li>
	
	<li><p>	Pursuant to Taste Basket’s User Agreement, you must be at least 18 years of age to use this site or have permission from a legal guardian. This policy makes no provision for individuals under 18 years old. This policy does not apply to the practices of third parties that Taste Basket does not own or control, or individuals that Taste Basket does not employ or manage.</p></li>
</ul>

<h4>Data We Collect</h4>

	<p>You may browse the Site without revealing personal information about yourself. Once you choose to register for an account, you are not anonymous to us. By choosing to register for an account, you consent to the transfer and storage of your account information. We may collect and store the following information:</p>
	
<ul>
	<li>	Email address, physical contact information, and sometimes financial information, such as credit card or bank account numbers</li>
	<li>	Shipping, billing and other information you provide when purchasing an items</li>
	<li>	Transactional information based on your activities on the Sites</li>
	<li>	Correspondence through our sites, and correspondence sent to uss</li>
	<li>	Information from your interaction with our Site, including computer and connection information, page views statistics, IP address and standard web log information;s</li>
	<li>	Supplemental information from third parties (for example, if you incur a debt to Taste Basket, we will generally conduct a credit check by obtaining additional information about you from a credit bureau, as permitted by law)</li>
</ul>


<h4>How We Use Data We Collect</h4>

<p>Our primary purpose in collecting personal information is to provide you with a safe, efficient, and customized experience. You agree that we may use your personal information to:</p>
<ul>
<li>Provide the services and customer support you request</li>
<li>Resolve disputes, collect fees, and troubleshoot problems</li>
<li>Prevent potentially prohibited or illegal activities, and enforce our agreements including the User Agreements</li>
<li>Customize, measure and improve our services and contents</li>
<li>Offer targeted marketing, service updates, and promotional offers based on your communication preferences</li>
<li>Compare your information for accuracy, including verification with third parties</li>
</ul>


<h4>Marketing</h4>
<ul>
<li><p>We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. We may combine your information with information we collect from other companies and use it to improve and personalize our Site and services.</p></li>
</ul>


<h4>Service Announcements</h4>

<ul>
	<li><p>Taste Basket will send you an email when you register to welcome and confirm your account. Receipt of this email is required for using our services.</p></li>
	<li><p>Taste Basket will send you service-related announcements when it is necessary to do so. You may not opt-out of service-related communications. If you do not wish to receive them, you can deactivate your account by emailing support@tastebasket.com from the email account you used to register with our Site.</p></li>
</ul>


<h4>Cookies</h4>

<ul>
<li><p>Cookies are small data files sent from your browser and stored on your hard drive (these are not the chocolate chip kind). Our cookies do not collect personal information, and Taste Basket does not combine information from cookies with the personal information you give us.</p></li>
<li><p>We use cookies on certain pages to help keep track of your preferences; gather information about traffic; analyze our web page flow; customize our services, content and advertising; measure promotional effectiveness, and promote security.</p></li>
<li><p>You can configure your browser to accept all cookies, reject all cookies, or notify you when a cookie is set. If you reject cookies, you will not be able to use certain features or functionality that requires you to “sign in” and you will not be able to take full advantage of our services.</p></li>
</ul>

<h4>Sharing and Disclosing Your Information</h4>

<ul>
	<li><p>Information about our customers is an important part of our business, and we are not in the business of selling it to others.</p></li>
	<li><p>Affiliated Businesses We Do Not Control: We work closely with affiliated business and other third parties, such as those that sell items through our Site. Due to the nature of our business model, when an affiliated business is associated with your transaction, you will share customer information that is related to such transaction with that affiliated business.</p></li>
	<li><p>Third-Party Service Providers: We use other companies and individuals to perform functions on our behalf such as processing credit card payments, analyzing data, providing customer service, and handling disputes. They have access to personal information needed to perform their functions but may not use it for other purposes.</p></li>
	<li><p>Protection of Taste Basket and Others: We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our User Agreement and other agreements; or protect the rights, property, or safety of Taste Basket, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. Obviously, however, this does not include selling, renting, sharing, or otherwise disclosing personally identifiable information from customers for commercial purposes in violation of the commitments set forth in this Privacy Policy.</p></li>
	<li><p>Transfer of assets: In some cases, Taste Basket may choose to buy or sell assets. In these types of transactions, customer information is typically one of the business assets that is transferred. Taste Basket will transfer information about you if Taste Basket is acquired by or merged with another company. In this event, Taste Basket will notify you by email or by putting a prominent notice on the Taste Basket web site before information about you is transferred and becomes subject to a different privacy policy.</p></li>
	<li><p>Others’ Information: In the course of using our Site, you may obtain another user's information. Pursuant to Taste Basket’s User Agreement, you have a limited license to use this information. This information should only be used for communications or transactions related to Taste Basket. Taste Basket has not granted you a license to use the information for unsolicited commercial messages. Without limiting the foregoing, without express consent from the user, you are not licensed to add any Taste Basket user to your email or physical mail list.</p></li>
</ul>

<h4>Third Parties</h4>

<ul>
	<li><p>This document addresses only the use and disclosure of information Taste Basket collects from you. If you disclose your information to others, whether they are affiliated third party businesses, individuals or users on our site or other sites throughout the Internet, different rules may apply to their use or disclosure of the information you disclose to them. We do not control the privacy policies of third parties, and you are subject to the privacy policies of those third parties where applicable. We encourage you to ask questions before you disclose your personal information to others.</p></li>
</ul>

<h4>Account Security</h4>

<ul>
	<li><p>We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input. Taste Basket transmits credit card information using SSL to the appropriate credit card company during order processing.</p></li>
	<li><p>No method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while Taste Basket strives to use commercially acceptable means to protect your personal information, Taste Basket cannot guarantee its absolute security.</p></li>
	<li><p>It is important for you to protect against unauthorized access to your password and to your computer. You are responsible for all actions made from your account. Do not share your password with anyone, and be sure to sign out of your account when finished using a shared computer.</p></li>
</ul>

<h4>Editing Account Information</h4>

<ul>
	<li><p>You can see, review and change most of your personal information by signing onto your Taste Basket account. As general practice, we will not manually modify your personal information. You must promptly update your personal information if it changes or is inaccurate.</p></li>
	<li><p>Upon your request, we will close your account and remove your personal information from view as soon as reasonably possible, based on your account activity and in accordance with applicable law. We do retain personal information from closed accounts to comply with law, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations, enforce our agreements including the User Agreement, and take other actions otherwise permitted by law.</p></li>
</ul>

<h4>General</h4>

<ul>
	<li><p>Taste Basket has the right to amend this Privacy Policy at any time by posting amended terms on the Site. Any amendments will take effect immediately. As such, please review this policy frequently.</p></li>
</ul>

</div>
