<h2>Why Private Trial?</h2>

<h3>Why a private trial?</h3>

<p>Taste Basket is just starting out and as such, we’d like to invite a select few (25 to be exact) to participate during our private trial period. We want to ensure a high-quality service, product, and operations of our food gift basket business. As a token of our appreciation, you will be participating at a highly discounted rate and you will get our utmost attention and service. And you get the benefit of being the first to enjoy the next best thing in food!</p>

<h3>How long is the private trial for?</h3>

<p>Our private trial will last a total of 3 months. As such, trial participants must commit to a taste basket for a total of 3 months, receiving one food taste basket each month starting in March or April. Yum!</p>


<h3>How much is the Taste Basket going to be per month?</h3>

<p>For our private trial, you’ll receive our taste basket at an exclusive price of $25.00/month!</p>


